:root {
    font-size: 13px;
    /* 设置基础字体大小
       /* --rs-font-family-mono: 'JetBrains Mono' ,Consolas , Monaco, 'Courier New', monospace; */
    --wh-flow-unit: 16px;
    --wh-flow-unit-m: 24px;
}

/* 好像是段落的间距 */
.prompt__wrapper {
    padding: 13px;
}

pre[class*="language-"] code {
    font-size: 13px;
}

.code {
    font-size: 13px;
}

.article__h1 {
    font-size: 35px;
    margin-top: 10px;
    padding: 5px 0;
}

.article__h2 {
    font-size: 27px;
}

.article__h3 {
    font-size: 22px;
}

.article__h4 {
    font-size: 18px;
}

/*
.article__h2 {
    font-size: 30px;
}

.article__h3 {
    font-size: 25px;
}

.article__h4 {
    font-size: 21px;
}
*/

/*
.article__h5 {
    font-size: 17px;
}
*/

/* 不显示powered by*/
.footer__powered {
    display: none;
}

/* 不显示 Last Modified */
.sub-title__edit-info {
    display: none;
}
