:root {
    font-size: 13px;
    /* 设置基础字体大小
       /* --rs-font-family-mono: 'JetBrains Mono' ,Consolas , Monaco, 'Courier New', monospace; */
    --wh-flow-unit: 16px;
    --wh-flow-unit-m: 24px;
}

.prompt__wrapper{
    padding: 13px;
}

pre[class*="language-"] code {
    font-size: 14px;
}

.code {
    font-size: 14px;
}

.article__h2 {
    font-size: 30px;
}

.article__h3 {
    font-size: 25px;
}

.article__h4 {
    font-size: 21px;
}

.footer__powered {
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}
